
{% load static %}
<div class="service" id="service" data-aos="fade-left"data-aos-duration="2400"> <h1>Our <span>Services</span></h1></div>
<section class="services" id="services">
    <div class="container">
        <div class="service-wrapper">
            <div class="s-heading" data-aos="fade-up"data-aos-duration="800">
                <i class="fa-solid fa-hotel"></i>
                <p> Holiday Packages</p>
            </div>
            <div class="s-heading"data-aos="fade-up"data-aos-duration="1200">
                <i class="fa-solid fa-plane"></i>
                <p> Flight Ticketing</p>
            </div>
            <div class="s-heading" data-aos="fade-up"data-aos-duration="1600">
                <i class="fa fa-file-lines"></i>
                <p> Travel Insurance</p>
            </div>
            <div class="s-heading" data-aos="fade-up"data-aos-duration="2000">
                <i class="fa-sharp fa-solid fa-passport"></i>
                <p> Visa Services </p>
            </div>
            <div class="s-heading" data-aos="fade-up"data-aos-duration="2400">
                <i class="fa fa-ship"></i>
                <p> Cruize Booking</p>
            </div>
        </div>
    </div>
</section>
